*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right, rgb(227, 89, 89), gold);
    font-family: 'Segoe UI';
    font-weight: 500;
}

#main-div
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;

    display: flex; 
    flex-direction: column;
    
    background: linear-gradient(to top left, salmon, yellow);
    border: 2px solid darkblue;
    border-radius: 20px;

    box-shadow: 5px 5px 10px 0.75px hotpink;
}   

#mainscreen
{
    width: 250px;
    height: 30px;
    
    background-color: transparent;
    color: darkslateblue;
    
    border: none;
    outline: none;
    border-radius: 10px;
    border-bottom: 3px solid darkslateblue;
    
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
    margin-right: 10px;
    transition: .3s;
}

#mainscreen:focus
{
    border: none;
    outline: none;
    border-bottom: 3px solid darkred;
}

.all-keys
{
    display: flex;
    justify-content: end;
}

input[type = button]
{
    padding: 5px;
    width: 60px;
    margin: 5px;
    border-radius: 5px;
}

.number
{
    background-color: lightgreen;
    border: 1px solid green;
    
    color: maroon;
    font-size: 16px;
    font-weight: 600;
}

#operators
{
    display: flex;
    flex-direction: column;
}

.operator
{
    background-color: lightgoldenrodyellow;
    border: 1px solid goldenrod;

    color: slateblue;
    font-size: 16px;
    font-weight: 600;
}

.equalto
{
    background-color: grey;
    border: 1px solid yellow;
    color: antiquewhite;
}

.special
{
    background-color: lightcoral;
    border: 1px solid red;

    color: yellow;
    font-size: 16px;
    font-weight: 600;
}